aiohttp
aiorpcX

bitcoinX>=0.9.0
certifi>=2023.5.7
dmgbuild>=1.5.3
dnspython
electrumsv-secp256k1>=0.9.3
ecdsa>=0.17.0
jsonrpclib-pelix>=0.4.3.4
mypy-extensions>=0.4.3
psutil>=5.9.0
pyaes>=0.1a1
pycryptodomex>=3.17
python-dateutil>=2.8.2
requests>=2.28.1
qrcode>=7.3.1
urllib3>=1.26.15
yarl>=1.8.2
websocket-client>=1.5.1

PySocks
bip38
